<template>
    <div class="form__counter">
        <button type="button" aria-label="Убрать один товар" @click.prevent="decrease">
            <svg width="12" height="12" fill="currentColor">
                <use xlink:href="#icon-minus"></use>
            </svg>
        </button>

        <input type="number" min="1" step="1" v-model.number="amount" name="count">

        <button type="button" aria-label="Добавить один товар" @click.prevent="increase">
            <svg width="12" height="12" fill="currentColor">
                <use xlink:href="#icon-plus"></use>
            </svg>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'AmountSelector',
        props: ['value'],
        data() {
            return {
                amount: this.value,
            };
        },
        watch: {
            amount() {
                this.$emit('update-amount', Math.trunc(this.amount));
            },
        },
        methods: {
            decrease() {
                if (this.amount > 1) {
                    this.amount -= 1;
                }
            },
            increase() {
                this.amount += 1;
            },
        },
    };
</script>
