<template>
    <ul class="colors colors--black">
        <li class="colors__item" v-for="(color, index) in colors" :key="index">
            <label class="colors__label">
                <input class="colors__radio sr-only" type="radio" name="color-item"
                       :checked="index === value"
                       v-model="color.color.id" @click="update(index)">
                <span class="colors__value" :style="`background-color: ${color.color.code}`"></span>
            </label>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "ColorSelector",
        props: ['colors', 'value'],
        methods: {
            update(value) {
                this.$emit('update:value', value);
            },
        },
    };
</script>
