<template>
    <li class="catalog__item">
        <router-link class="catalog__pic" :to="{name: 'product', params: {id: product.id, colorIndex: productColorIndex}}">
            <img v-if="product.colors[productColorIndex].gallery"
                 :src="product.colors[productColorIndex].gallery[0].file.url" :alt="product.title">
            <img v-else src="https://via.placeholder.com/270x350.png?text=Нет+изображения" :alt="product.title">
        </router-link>

        <h3 class="catalog__title">
            <a href="#">
                {{ product.title }}
            </a>
        </h3>

        <span class="catalog__price">
              {{ product.price }} ₽
            </span>

        <ColorSelector :colors="product.colors" v-model:value="productColorIndex"/>
    </li>
</template>

<script>
    import numberFormat from '@/helpers/numberFormat';
    import ColorSelector from '@/components/ColorSelector.vue';

    export default {
        name: 'ProductItem',
        props: ['product'],
        components: {ColorSelector},
        data() {
            return {
                productColorIndex: 0,
            };
        },
        filters: {
            numberFormat,
        },
    };
</script>
