<template>
<!--    <label class="form__label form__label&#45;&#45;small form__label&#45;&#45;select">-->
<!--        <select class="form__select" type="text" v-model="size.id" :required="true" @change="update(value)">-->
<!--            <option v-for="size in sizes" :key="size.id" >{{ size.title }}</option>-->
<!--        </select>-->
<!--    </label>-->
    <ul class="colors colors--black">
        <li class="colors__item" v-for="(size, index) in sizes" :key="index">
            <label class="colors__label">
                <input class="colors__radio sr-only" type="radio" name="color-item"
                       :checked="size.id === value"
                       v-model="size.id" @click="update(value)">
                <p>{{ size.id }}</p>
                <span class="colors__value" style="background-color: #cc44ee"></span>
            </label>
        </li>
    </ul>

</template>

<script>
    export default {
        name: "SizeSelector",
        props: ['sizes', 'value'],
        methods: {
            update(value) {
                this.$emit('update:value', value);
            },
        },
    }
</script>

<style scoped>

</style>
